@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl font-bold text-center mb-8;
    }
    h2 {
        @apply text-2xl font-bold;
    }
}

@layer components {
    .border,
    .border-r,
    .border-l,
    .border-t,
    .border-b,
    .border-x,
    .border-y {
        @apply border-base-content/10;
    }
    .divide-x,
    .divide-y {
        @apply divide-base-content/10;
    }
    .section-gap {
        @apply mt-12 sm:mt-16 md:mt-20;
    }
    .active-link {
        @apply relative transition-all duration-300 after:absolute after:content-[''] after:w-full after:h-[1.5px] after:rounded after:left-0 after:-bottom-0.5 md:after:-bottom-2 after:bg-base-content after:transition after:duration-300;
    }
}
